<div class="container">
	{% for post in paginator.posts %}
	<div class="card mb-3">
		{% if post.thumbnail %}
		<div class="card-img-top">
			<img style="width: 100%; max-height: 250px; object-fit: cover;" alt="{{ post.title }}" src="{{ post.thumbnail | relative_url }}">
		</div>
		{% endif %}
		<div class="card-body">
			<h5 class="card-title">
				<a alt="{{ post.title }}" class="stretched-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
			</h5>
			<p class="card-text">{{ post.excerpt | strip_html | escape }}</p>
			<p class="card-text"><small class="text-muted">{{ post.date | date: "%B %-d, %Y" }}</small></p>
		</div>
	</div>
	{% endfor %}
</div>        

{% if paginator.total_pages > 1 %}
<nav aria-label="Navigation">
	<ul class="pagination pagination-lg justify-content-center">
		{% if paginator.previous_page %}
		<!-- << -->
		{% if paginator.previous_page != 1 %}
		<li class="page-item">
			<a alt="{{ site.theme_settings.str_previous_page }}" href="{{ '/' | relative_url }}" class="page-link">
				<i class="fa fa-angle-double-left"></i>
			</a>
		</li>
		{% endif %}   
		<!-- < previous -->
		<li class="page-item">
			<a href="{{ paginator.previous_page_path | relative_url }}" class="page-link">
				<i class="fa fa-chevron-left"></i>
				{{ site.theme_settings.str_previous_page }}
			</a>
		</li>
		{% endif %}
		{% if paginator.next_page %}
		<!-- next > -->
		<li class="page-item">
			<a alt="{{ site.theme_settings.str_next_page }}" href="{{ paginator.next_page_path | relative_url }}" class="page-link">
				{{ site.theme_settings.str_next_page }}
				<i class="fa fa-chevron-right"></i>
			</a>
		</li>
		<!-- >> -->
		{% if paginator.next_page != paginator.total_pages %}
		<li class="page-item">
			<a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.total_pages }}" class="page-link">
				<i class="fa fa-angle-double-right"></i>
			</a>
		</li>
		{% endif %}
		{% endif %}
	</ul>
</nav>
{% endif %}
