<div id="form-new-comment{{ include.reply }}">
	<h3>Leave a reply</h3>
		<form id="post-new-comment{{ include.reply }}" method="post" action="https://staticman.maxtuni.es/v2/entry/kktuax/kktuax.github.io/master/comments">
  <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}" />
  <input name="options[slug]" type="hidden" value="{{ include.slug }}" />
  <div class="form-row my-1">
    <label for="comment{{ include.reply }}">Comment</label>
    <textarea class="form-control" name="fields[msg]" id="comment{{ include.reply }}" required="required" cols="45" rows="8" maxlength="65525" aria-required="true"></textarea>
  </div>
  <div class="form-row my-1">
    <div class="form-group col-md-6">
      <label for="name{{ include.reply }}">Name</label>
      <input class="form-control" name="fields[name]" id="name{{ include.reply }}" required="required" aria-required="true" type="text" />
    </div>
    <div class="form-group col-md-6">
		<label for="url{{ include.reply }}">Website</label>
		<input class="form-control" name="fields[url]" id="url{{ include.reply }}" type="url" maxlength="50" placeholder="Optionally, provide a link to your Website" />
    </div>
  </div>
  <div class="form-row my-1">
	  <label for="email{{ include.reply }}">Email</label>
	  <input class="form-control" name="fields[email]" id="email{{ include.reply }}" required="required" aria-required="true" type="email" placeholder="Required, always hashed, never used nor published" />
  </div>
  <button type="submit" class="btn btn-primary my-2">Post comment</button>
  <small class="text-muted">Note that comments won't appear until approved.</small>
</form>
</div>
