---
layout: default
---

<div class="p-4 my-2 container border border-dark rounded ">
	
	{% unless page.hide_title %}		
	{% if page.feature-img %}
	<img src="{{ page.feature-img | relative_url }}" alt="page.title" class="img-fluid w-25 mr-4 float-left rounded" />
	{% endif %}	
	<h1>{{ page.title }}</h1>
	<p class="text-muted text-right mr-4">
		{{ page.date | date: "%B %-d, %Y" }}
		{% if page.author %} - {{ page.author }}{% endif %}
	</p>
	{% endunless %}
	
	{{ content }}
	
   <!-- Tag list -->
  {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
  {% include tags_list.html tags=tag_list %}

</div>

<div class="p-4 my-2 container border border-dark rounded bg-light">
	<div class="row">
		<div class="col-8">
			{% include comments/comments.html %}
		</div>
		<div class="col-4">
			{% include share_buttons.html %}
		</div>
	</div>
</div>
		
<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
  {% include post_nav.html %}
{% endif %}
